.logoIcon {
  height: 36px;
  width: 36px;
  position: relative;
}
.cartzillaIcon {
  align-self: stretch;
  height: 18.6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.brandName,
.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brandName {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs-7) 0 0;
}
.logo {
  width: 140px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs-3);
}
.createAnAccount,
.doNotHave,
.title {
  position: relative;
  font-family: var(--body-extra-small);
  text-align: left;
}
.title {
  margin: 0;
  align-self: stretch;
  font-size: var(--heading-desktop-h2-size);
  line-height: 42px;
  font-weight: 600;
  color: var(--gray-900);
}
.createAnAccount,
.doNotHave {
  font-size: var(--body-small-size);
  line-height: 22px;
  color: var(--gray-600);
}
.createAnAccount {
  text-decoration: underline;
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-900);
  display: inline-block;
  min-width: 123px;
}
.accountLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.placeholder {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-extra-small);
  font-size: var(--heading-h6-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
  min-width: 230px;
  max-width: 100%;
  padding: 0;
}
.input {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  max-width: 100%;
}
.placeholder1 {
  width: calc(100% - 48px);
  border: 0;
  outline: 0;
  font-family: var(--body-extra-small);
  font-size: var(--heading-h6-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
  min-width: 231px;
  max-width: 100%;
  padding: 0;
}
.icon1 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon,
.input1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.icon {
  height: 24px;
  align-items: center;
}
.input1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-3xs);
  max-width: 100%;
}
.checkboxContainer {
  margin: 0;
  height: 21px;
  width: 20px;
}
.label {
  flex: 1;
  position: relative;
  font-size: var(--body-small-size);
  line-height: 22px;
  font-family: var(--body-extra-small);
  color: var(--gray-600);
  text-align: left;
}
.checkboxRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 127px;
}
.link {
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-extra-small);
  color: var(--gray-700);
  text-align: right;
}
.checkboxRowParent,
.termsLinkRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.termsLinkRow {
  width: 168px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.checkboxRowParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-33xl);
}
.label1 {
  text-decoration: none;
  position: relative;
  font-size: var(--heading-h6-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-extra-small);
  color: var(--white-100);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.inputFields,
.primaryButton {
  display: flex;
  align-items: flex-start;
}
.primaryButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--primary-main);
  align-self: stretch;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.primaryButton:hover {
  background-color: var(--color-crimson-100);
}
.inputFields {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.dividerIcon,
.inputFields,
.titleParent {
  align-self: stretch;
  max-width: 100%;
}
.titleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.dividerIcon {
  height: 1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dividerWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  min-width: 79px;
}
.text {
  position: relative;
  font-size: var(--heading-h6-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-extra-small);
  color: var(--gray-700);
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.dividerIcon1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.dividerContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dividerContainer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  min-width: 79px;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.icon2 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.socialIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.label2 {
  position: relative;
  font-size: var(--heading-h6-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-extra-small);
  color: var(--gray-700);
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.secondaryButton {
  cursor: pointer;
  border: 1px solid var(--gray-200);
  padding: var(--padding-3xs) var(--padding-3xl) var(--padding-3xs)
    var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon3 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.label3 {
  position: relative;
  font-size: var(--heading-h6-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-extra-small);
  color: var(--gray-700);
  text-align: left;
  display: inline-block;
  min-width: 76px;
}
.secondaryButton1 {
  cursor: pointer;
  border: 1px solid var(--gray-200);
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon4 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.label4 {
  position: relative;
  font-size: var(--heading-h6-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-extra-small);
  color: var(--gray-700);
  text-align: left;
  display: inline-block;
  min-width: 45px;
}
.secondaryButton2 {
  cursor: pointer;
  border: 1px solid var(--gray-200);
  padding: var(--padding-3xs) var(--padding-8xl) var(--padding-3xs)
    var(--padding-9xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frameParent,
.logoParent,
.secondaryButton2,
.socialButtons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialButtons {
  flex-direction: row;
  gap: var(--gap-base);
}
.frameParent,
.logoParent {
  flex-direction: column;
  max-width: 100%;
}
.frameParent {
  margin: 0;
  width: 416px;
  gap: var(--gap-5xl);
}
.logoParent {
  align-self: stretch;
  gap: var(--gap-205xl);
  text-align: left;
  font-size: var(--body-small-size);
  color: var(--gray-800);
  font-family: var(--body-extra-small);
}
@media screen and (max-width: 850px) {
  .title {
    font-size: var(--font-size-7xl);
    line-height: 34px;
  }
  .socialButtons {
    flex-wrap: wrap;
  }
  .logoParent {
    gap: var(--gap-93xl);
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .accountLinks,
  .input1 {
    flex-wrap: wrap;
  }
  .checkboxRowParent {
    flex-wrap: wrap;
    gap: var(--gap-7xl);
  }
  .frameGroup {
    flex-wrap: wrap;
  }
}
