.label {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 29px;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: var(--br-9xs);
  background-color: var(--danger-main);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
}
.imageIcon {
  width: 258px;
  height: 240px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.thumb {
  align-self: stretch;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-5xl)
    var(--padding-base);
  box-sizing: border-box;
  position: relative;
}
.starFillIcon,
.starFillIcon1,
.starFillIcon2,
.starFillIcon3,
.starFillIcon4 {
  height: 12px;
  width: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 12px;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.txt {
  flex: 1;
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 16px;
}
.rating,
.title {
  align-self: stretch;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.title {
  position: relative;
  font-size: var(--body-small-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-900);
}
.titlerating {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.price1,
.sale {
  position: relative;
  white-space: nowrap;
  flex-shrink: 0;
}
.price1 {
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  min-width: 84px;
}
.sale {
  flex: 1;
  font-size: var(--body-small-size);
  text-decoration: line-through;
  line-height: 21px;
  color: var(--gray-400);
}
.price {
  width: 218px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 var(--padding-7xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pricebtn,
.secondaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.secondaryButton {
  border-radius: var(--br-5xs);
  background-color: var(--gray-100);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.pricebtn {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-base);
  font-size: var(--heading-desktop-h5-size);
  color: var(--gray-900);
}
.body,
.productCardElectronicsDesk {
  background-color: var(--white-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.body {
  align-self: stretch;
  padding: 0 var(--padding-base) var(--padding-base);
  gap: var(--gap-xs);
  color: var(--gray-400);
}
.productCardElectronicsDesk {
  flex: 1;
  border-radius: var(--br-5xs);
  overflow: hidden;
  min-width: 291px;
  text-align: left;
  font-size: var(--body-extra-small-size);
  color: var(--white-100);
  font-family: var(--body-extra-small);
}
@media screen and (max-width: 450px) {
  .rating {
    flex-wrap: wrap;
  }
  .price1 {
    font-size: var(--heading-h6-size);
    line-height: 22px;
  }
  .pricebtn {
    flex-wrap: wrap;
  }
}
